<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.admin.lecture.AdminLectureMapper">

<select id="selectLectList" resultType="lectListDomain">
select l.thumbnail as thumbnail, l.name as lect_name, r.score as score, l.usercount as usercount, 
i.name as inst_name, (l.usercount*l.price) as total_profit , l.availability as availability
from lecture l
join review r
on l.lect_id=r.lect_id
join instructor i
on i.inst_id=l.inst_id
</select>

</mapper>