<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<th:block th:fragment="instructorHeader">
  <link rel="stylesheet" th:href="@{/common/css/instructor-header.css}">

  <header class="inst-header">
    <div class="inst-header__bar">
      <a class="inst-header__brand" th:href="@{/instructor/dashboard}">
        <img th:src="@{/common/images/main_logo.png}">
      </a>

      <nav class="inst-header__nav">
        <span class="inst-header__link" th:text="${pageTitle}"></span>
      </nav>

      <div class="inst-header__actions">
        <a class="inst-header__logout" th:href="@{/logout}">로그아웃</a>
      </div>
    </div>

    <div class="inst-header__accent"></div>
  </header>
</th:block>
</body>
</html>
